@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light dark; }
* { box-sizing: border-box; }
a { color: inherit; }
input, select, textarea, button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #aaa;
  font-size: 14px;
}
button { cursor: pointer; }
label > div { margin-bottom: 6px; opacity: 0.85; }
h2 { margin: 0 0 6px 0; }

@media print {
  body {
    background: white !important;
  }
  
  body * {
    visibility: hidden;
  }

  .report-container, .report-container * {
    visibility: visible !important;
  }

  .report-container {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .no-print {
    display: none !important;
  }
}
